<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="br.com.ithappens.mapper.FilialMapper">

    <resultMap id="filialMap" type="br.com.ithappens.model.Filial">
        <result property="id" column="filial_id"/>
        <result property="cnpj" column="cnpj" />
    </resultMap>

    <select id="getById" resultMap="filialMap" useCache="false">
        SELECT f.filial_id, f.cnpj
            FROM estoque.filial f
            WHERE f.filial_id = #{id}
    </select>

    <insert id="insert" parameterType="br.com.ithappens.model.Filial" useGeneratedKeys="true"
            keyProperty="id" keyColumn="filial_id">
        INSERT INTO estoque.filial
        (
          cnpj
        )
        VALUES
        (
          #{filial.cnpj}
        )
    </insert>

    <update id="update" parameterType="br.com.ithappens.model.Filial">
    	UPDATE estoque.filial f
        	SET cnpj = #{filial.cnpj}
        		where f.filial_id = #{filial.id}
    </update>

</mapper>